@using Guia4_ADS_CrudCarrera.Utilities
@model IEnumerable<Guia4_ADS_CrudCarrera.Models.Estudiante>

@{
    ViewBag.Title = "Estudiantes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Indice</h2>

<p>
    @Html.ActionLink("Crear", "Form", new { operacion = Operacion.insertar })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellidos)
        </th>
        <th>Acciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidos)
        </td>
        <td>
            @Html.ActionLink("Editar", "Form", new { id = item.id, operacion = Operacion.modificar }) |
            @Html.ActionLink("Detalles/Ver", "Form", new { id = item.id, operacion = Operacion.ver }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.id, operacion = Operacion.eliminar })
        </td>
    </tr>
}

</table>
